<div class="container">

    <div class="mb-4">
        <a href="@Url.Action("Index", "Doctors")" class="btn btn-primary">View Our Doctors</a>
    </div>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4">
            <div class="card" style="height: 100%">
                <div style="height:100%">
                    <img src="~/images/@item.Img" class="card-img-top" height="100%" alt="...">
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-9">
                            <h5 class="card-title">@item.Name</h5>
                        </div>

                        <div class="col-3">
                            <span class="badge text-bg-success">@item.Rate / 5</span>
                        </div>
                    </div>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    Price: <span class="badge text-bg-warning">@item.Price</span>
                    <br /><br />
                    <a href="https://localhost:7017/Home/Details?productId=@item.Id" class="btn btn-primary">Show Details...</a>
                </div>
            </div>
        </div>
    }
</div>