<div class="row mb-2">
    <h1><a href="/Category/Index"><i class="bi bi-arrow-left"></i></a> Create New Category</h1>
</div>

<div class="row">
    <form action="/Category/CreateNew">
        <div class="mb-3">
            <input type="text" class="form-control" id="categoryName" name="name" placeholder="Category Name">
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>